@import '../../main.scss';

.wysiwyg {
  border: 1px solid theme-color('primary', 'dark');
  @include spacing-setting('base');
  background-color: theme-color('background', 'base');

  &__control-buttons {
    @include spacing-setting('xs');

    .control-button {
      @include spacing-setting('xs');
      border: 1px solid theme-color('primary', 'dark');
      background-color: theme-color('background', 'base');
      color: theme-color('primary', 'dark');
      cursor: pointer;
      &:hover {
        color: theme-color('background', 'base');
        background-color: theme-color('primary', 'dark');
      } 
    }
  }
  .public-DraftStyleDefault-block{
    border: 1px solid theme-color('primary', 'dark');
    @include spacing-setting('base');
  }
}