*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

#root {
  height: 100%;
  position: relative;
}

.container {
  max-width: 500px;
  margin: 100px auto;

  h1 {
    color: #005cc5;
  }

  code {
    border: 1px solid #ddd;
    background: #eee;
  }
}

.panel-stack {
  height: 500px;
  width: 100%;

}
